<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">F8 Education</a>
        <li class="nav-item dropdown d-flex">
            <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                style="color: #fff;"
            >
                <img
                    src="https://cf.shopee.vn/file/3a4bb534fca96af651202d482000fda6"
                    alt="avatar"
                    class="user-avatar"
                />
                Duydev02
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/courses/create">Đăng khóa
                        học</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="/me/stored/courses">Khóa học
                        của tôi</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </li>
    </div>
</nav>